
# K8s for calculator app / image
# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: calc-deployment
#   spec:
#     selector:
#         matchLabels:
#               app: calc
#                 replicas: 2 
#                   template:
#                       metadata:
#                             labels:
#                                     app: calc
#                                         spec:
#                                               containers:
#                                                     - name: calc
#                                                             image: arshaqsidhiqe/proj-mdp-152-155:latest
#                                                                     imagePullPolicy: Always
#                                                                             ports:
#                                                                                     - containerPort: 8080
#
